.friend-container {
  text-decoration: none;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
  width: 250px;
  text-align: center;
}

a, a:active, a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0); /* Ensure links remain black */
}

.friend-header {
  margin-bottom: 10px;
  text-decoration: none;
}

.username {
  background-color: #93C398;
  gap: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
}

.friend-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
  text-decoration: none;
}

.tag {
  background-color: #E9E9E9;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: none;
}

.tag.major {
  background-color: #BEEAFF;  
}

.tag.minor {
  background-color: #C0CEFF;  
}

.friend-bio {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
  text-decoration: none;
}

.friend-status {
  margin-top: 10px;
  text-decoration: none;
}
