.feed-root{
    margin: auto;
    padding: 0;
} 
.post-container{
    display: flex;
    flex-direction: column;
 }
.individual-container{
    margin: auto;
    position: relative;
    top:100px;
    justify-content: center;
    border: 2px solid #000;
    background: #EFF3F0;    
    border-radius: 10px;
    width: 1200px;
    height: 900px;      
    margin-bottom: 30px; 
    padding: 10px;
    /* margin: auto; */
}

/* SORT  */
.sort-container{    
    position: absolute;
    width: 200px;
    height: 39px;
    top: 5%;
    right:10%;
    color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .sort-container span{
    flex-shrink: 0; 
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }
 #sort-btn{
    margin-top: 10px;
    width: 216px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9; 
    border-color: #D9D9D9 ;
 }
.sort-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sort-opt-container{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    border: 2px solid #000;
    background: #F0F0F0;;
    width: 216px;
    height: 154px;
    margin-top: 55px;
}
#sort-options{
    width: 215px;
    height: 39px;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-color: #F0F0F0;
    margin: auto;
    background-color: transparent;
    
}
#sort-btn:hover{
    box-shadow: 0 0 10px #666666; /* Example shadow */
    background: #D9D9D9;
}
#sort-options:hover{
    background-color: #D9D9D9;
}


 /* FILTER CSS */
 #filter-btn-off{
    position: fixed;
    left: 0;
    top: 20%;
    border: none;
    background:none;
 
 }

 #filter-btn-off img, #filter-btn-on img{
    width: 44px; /* Set the width of the image */
    height: 145px;
}
#filter-btn-on{
    position: relative;
    display: flex;
    z-index: 2;
    background:none;
    border: none;
    bottom: 70%;
    left:100%;
    flex-shrink: 0;

 }
 

.filter-containter{
    z-index: 2;
    position: fixed;
    top:0;
    width: 20%;
    padding-top: 5%;
    height: 100%;
    max-height: 100%;
    border-right: 2px solid #000;
    background: #93C398;  
}

.filter-wrapper{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;

}

.search-container{
    border-radius: 20px;
    border: 1px solid #000;
    background: #FCFFFB;
    width: 80%;
    height: 145px;
    margin: 20px 20px;
   
}

.search-container img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.search-container button {
    border:none;
    background: none;
}

#search-bar{
    margin: auto;
    position: relative;
    border-radius: 20px;
    border: 2px solid #000;
    background: #FFF;
    width: 80%;
    height: 31.5px;
    top: 10%;
    display: flex;
    justify-content: center;
}

#search-bar input{
    width: 100%; 
    padding: 10px; 
    border: none; 
    background: transparent;
    outline: none; 
    font-size: 16px;
    
}
/* filter tags */

.search-result-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
/* Follow buttons */
#follow-btn{
    border-radius: 8px;
    border: 1px solid #000;
    background: #93C398;
    width: 90px;
    height: 30px;
    flex-shrink: 0;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    }

#followed-btn{
    width: 90px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #000;
    background: #D9D9D9;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: norma
}

/* upper part of the post */
.user-information-containter{
    display: flex;
    flex-direction: row;
    padding: 3% 2%;
    height: 20%;
    margin: auto;
}
#profile{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}
.user-info-middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    flex-shrink: 1;
    margin-left: 20px;
}

.user-info-midtop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2%;
    /* border: #000 solid; */
    
}
#username{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid #000;
    background: #FFF;
    flex-shrink: 0;
    width: 40%;
    padding-left: 10px;
}
.follow{
    padding-left: 45%;

}
.caption-containter{
    border-radius: 8px;
    border: 1.5px solid #000;
    background: #FFF;
    width: 100%;
    height: 100%;
    flex-shrink: 0;

}
.likes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
}
.likes button{
    border: none;
    background: none;
}
/* .likes button img:hover{
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    background-color: #93C398;
} */

.likes button img{
    width: 70%;
    height: 70%;
}
.Dplan-container{
    margin: auto;
    /* width: 95%; */
    height: 65%;
    padding: 20px;
    margin-top: 20px;
    /* border: 2px solid black; */
}

.tag-container{
    display: flex;
    flex-direction: row;
    padding: 2%;
    /* float: left; */
    margin-left: auto;
    margin-top: 5px;
    align-items: center;
}
.tags{
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 3px;
    margin: 5px;
}