.feed-root {
    margin: auto;
    padding: 0;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.individual-container{
    position: relative;
    top:100px;
    justify-content: center;
    border: 2px solid #000;
    background: #EFF3F0;    
    border-width: 0.1rem;
    border-radius: 10px;
    width: 900px;
    height: 700px;      
    margin-bottom: 20px; 
    padding: 10px;
    margin: auto;
}

.sort-container{
    position: absolute;
    width: 200px;
    height: 39px;
    top: 5%;
    right: 10%;
    color: #000;
    display: flex;
    flex-direction: row;
}

 .sort-container span{
    flex-shrink: 0; 
    color: #000;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
 }
 #sort-btn{
    margin-top: 10px;
    width: 216px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #D9D9D9;        
 }

 /* FILTER CSS */
 #filter-btn-off{
    position: fixed;
    left: 0;
    top: 20%;
 
 }

 #filter-btn-off img, #filter-btn-on img{
    width: 44px; /* Set the width of the image */
    height: 145px;
}
#filter-btn-on{
    position: relative;
    display: flex;
    justify-content: flex-end;
    left: 60%;
    bottom: 70%;
    z-index: 2;
 }

.filter-containter{
    z-index: 1;
    position: fixed;
    top:0;
    width: 20%;
    padding-top: 5%;
    height: 100%;
    max-height: 100%;
    border-right: 2px solid #000;
    background: #93C398;  
}

.filter-wrapper{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.search-container{
    border-radius: 20px;
    border: 1px solid #000;
    background: #FCFFFB;
    width: 80%;
    height: 145px;
    margin: 20px 20px;
   
}

#search-bar{
    position: relative;
    border-radius: 20px;
    border: 2px solid #000;
    background: #FFF;
    width: 80%;
    height: 31.5px;
    top: 10%;
    display: flex;
    justify-content: center;
}

#search-bar input{
    width: 100%; 
    padding: 10px; 
    border: none; 
    background: transparent;
    outline: none; 
    font-size: 16px;
    
}
