.holder {
    border: 3px solid rgb(255, 213, 121);
}

.term-rows {
    background-color: inherit;
    margin: none;
    padding: none;
    max-height: 140px;
}

.table-container {
    background-color: inherit;
}
