.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    border-bottom: 2px solid black;
    background: #93C398;
}

.navbar-right {
    display: flex;
    flex-direction: row;
}

#navbar-friends {
    padding-left: 50px;
}

