
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.view-profile-container {
    background: #EFF3F0;
    border-radius: 10px;
    border: 2px solid #000;
    width: 1200px;
    height: auto; 
    margin: 100px auto 30px; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.view-profile-container .back-button {
    background: #93C398;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start; 
}

.friend-container {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px; 
}

.plan-container {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}


.interaction-controls {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.interaction-controls button {
    background: #93C398;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.upvotes-count {
    font-size: 1.2rem; 
    margin: 0 15px; 
}
