.delete-popup {
    position: absolute;
    background-color: white;
    padding: 30px;
    left: 40%;
    top: 40%;
    border: 2px solid black;
    border-radius: 10px;
}

.delete-popup-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.delete-popup-btn > button {
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#delete-popup-close {
    margin-bottom: 20px;
}

#draft-delete-yes {
    background-color: var(--green);
}

#draft-delete-no {
    background-color: rgb(223, 148, 148);
}